.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.gradienttopdown {
  background-image: linear-gradient(rgb(33, 37, 41, 1), rgb(0, 0, 0, 0));
  z-index: 50;
}

.gradientdowntop {
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(33, 37, 41, 1));
}

.copyright {
  padding-left: 2%;
}

img {
  object-fit: cover;
}

.noPadding {
  padding: 0px;
}

.centerMain {
  position:absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color:rgb(0, 0, 0, 0.4)
}

@media(max-width: 700px) {
  .centerMain {
    position:absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color:rgb(0, 0, 0, 0.4)
  }
}

.ontop {
  position: absolute;
  top: 0%;
}

.aboutpfp {
  margin-top: 10%;
  margin-left: 5%;
}

.abouttext {
  margin-top: 15%;
  margin-left:8%;
  margin-right: 10%;
}