.jumbotron{
    height:30vh;
    margin:30px 30px 30px 30px;
    border-radius:10px;
      background: 
  linear-gradient(
    rgba(146, 0, 0, 0.25), 
    rgba(133, 71, 0, 0.45)
  ),
  url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  }